<form (ngSubmit)="handleFormSubmit()" [formGroup]="authorForm">
<div class="form-group">
  <label for="authorName">Author Name</label>
  <input type="text" class="form-control" formControlName="authorName">
  <div class="alert alert-danger" *ngIf="authorForm.get('authorName').touched && authorForm.get('authorName').invalid">
  <div *ngIf="courseForm.get('authorName').errors.required">
    Enter correct Author name!!
  </div>
  </div>
<button class ="btn btn-primary" type="submit" [disabled]="authorForm.invalid">Submit</button>
</div>  
</form>
